body {
    background-color: rgb(255,0,0,0.9);
}

.quadrante {
    text-align: center;
    background-color: lightgray;
    padding: 50px;
    min-width: 700px;
    border: 1px solid black;
    margin-top: 150px;
    -webkit-box-shadow: 5px 5px 15px 5px #000000; 
    box-shadow: 5px 5px 15px 5px #000000;
}

.btn {
    margin: 20px;
    min-width: 150px;
}

