.quadrante {
    text-align: center;
    background-color: lightgray;
    padding: 50px;
    min-width: 700px;
    border: 1px solid black;
    margin-top: 150px;
}

.btn {
    margin: 20px;
    min-width: 150px;
}

