.titulo {
    text-align: center;
    height: 200px;
    padding-top: 100px;
}

.botaosim {
    text-align: right;
    padding: 30px;
}

.botaonao {
    text-align: left;
    padding: 30px;
}
