.divimagem {
    text-align: center;
}

.imagem {
    width: 250px;
    height: 250px;
}

.negrito {
    font-weight: bold;
}

.italico {
    font-style: italic;
}

.sublinhado {
    text-decoration: underline;
}

body {
    /*background-color: blue;*/
}